.flex-caption {
    background: rgba(0, 102, 51, 0.6);
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    line-height: 4.3rem;
    position: absolute;
    top: 0;
    padding: 2rem 1.5rem;
    display: block;
    margin: 24rem 0 0 74rem
}

.parallax {
    /* The image used */
    background-image: url('../images/virtual-reality.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url('../images/International-Student.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/Computer_Systems_Analyst.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-grid {
    padding: 0px;
}

.panel {
    background: #E5E5E7
}

.panel-title {
    font-size: 1.5rem;
}

.top_nav {
    max-width: 960px;
    width: 100%;
}

.navbar-default {
    background-color: #2C814D;
    border: none;
}

.secondary-navigation {
    background-color: #006633;
    color: rgb(255, 255, 255);
}

.banner {
    padding: 0rem
}

.section-grey {
    background-color: #333;
    color: #fff;
    display: block;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

.carousel-header {
    font-size: 2rem;
}

.footer {
    background: #464646;
    color: white;
}