.flex-caption {
    background: rgba(0, 102, 51, 0.6);
    color: rgb(255, 255, 255);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    line-height: 4.3rem;
    position: absolute;
    top: 0;
    padding: 2rem 1.5rem;
    display: block;
    margin: 20vw 0 0 20vw;
}
.caption{
    font-size: 36px;
    width: auto;
}

.parallax {
    /* The image used */
    background-image: url('../images/virtual-reality.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url('../images/International-Student.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('../images/Computer_Systems_Analyst.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../images/TheMatrix.jpg');
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tile-border {
    border: 2.5px solid white;
}

.highlight-title {
    font-size: 24px;
}

.highlight-list {
    font-size: 16px;
    padding-left: 10px;
}

.tile-title {
    color: black;
    text-decoration: none;
    position: relative;
    margin-bottom: 1rem;
}

.img-grid {
    padding: 0px;
}

.img-faculty {
    height: 15rem;
}

.panel {
    background: #E5E5E7
}

.panel-title {
    font-size: 1.5rem;
}

.top_nav {
    max-width: 960px;
    width: 100%;
}

.navbar-default {
    background-color: #2C814D;
    border: none;
}

.secondary-navigation {
    background-color: #006633;
    color: rgb(255, 255, 255);
}

.banner {
    padding: 0rem
}

.section-grey {
    background-color: #333;
    color: #fff;
    display: block;
}

.green-btn {
    background-color: #2C814D;
    border-color: #2C814D;
}

.green-btn:hover {
    background-color: #006633;
    border-color: #2C814D;
}

.code-block {
    height: 10rem;
    overflow: hidden;
}

.info-panel {
    background-color: #E5E5E7;
}

.code {
    color: #212529 !important;
}

.background {
    height: 20rem;
}

.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}

.carousel-header {
    font-size: 2rem;
}

.footer {
    height: 200px;
    background: #464646;
    color: white;
}